* {
    text-align: center;
}

svg {
    width: 50%
}

svg path {
    transition: transform 4s;
}

.animate .svgUp path {
    transform: translateX(-4px) translateY(-4px);
}

.animate .svgDown path {
    transform: translateX(4px) translateY(4px);
}

.animate .svgLeft path {
    transform: translateX(-4px);
}

.animate .svgRight path {
    transform: translateX(4px);
}

a {
    text-decoration: none;
    color: black;
    background-color: #ddd;
    padding: 10px 25px;
    border-radius: 5px;
}

a:hover {
    background-color: #16A74E
}

a:before {
    content: "<";
    font-weight: bold;
    margin-right: 10px;
}