@media (prefers-color-scheme: dark) {
    /* User-Agent Style */
    html {
        background-color: #323334 !important;
    }
    html,
    body,
    input,
    textarea,
    select,
    button {
        background-color: #323334;
    }
    html,
    body,
    input,
    textarea,
    select,
    button {
        border-color: #767066;
        color: #ceccca;
    }
    a {
        color: #468ddf;
    }
    table {
        border-color: #5f6466;
    }
     ::placeholder {
        color: #a5a099;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        background-color: #606420 !important;
        color: #ceccca !important;
    }
     ::-webkit-scrollbar {
        background-color: #383a3b;
        color: #a09b93;
    }
     ::-webkit-scrollbar-thumb {
        background-color: #54575a;
    }
     ::-webkit-scrollbar-thumb:hover {
        background-color: #616669;
    }
     ::-webkit-scrollbar-thumb:active {
        background-color: #565a5d;
    }
     ::-webkit-scrollbar-corner {
        background-color: #323334;
    }
    * {
        scrollbar-color: #383a3b #54575a;
    }
    /* Modified CSS */
    header {
        background-color: rgb(45, 132, 78);
        background-image: none;
        color: rgb(206, 204, 202);
    }
    header svg path {
        fill: #ceccca;
    }
    nav {
        background-color: rgb(60, 63, 64);
    }
    nav a {
        color: rgb(206, 204, 202);
        text-decoration-color: currentcolor;
    }
    .main {
        background-color: rgb(56, 58, 59);
    }
    .side {
        background-color: rgb(50, 51, 52);
    }
    .box {
        background-color: rgb(50, 51, 52);
    }
    #map {
        background-color: rgb(86, 90, 93);
    }
    .singleLayer {
        background-color: rgb(50, 51, 52);
        box-shadow: rgba(32, 32, 32, 0.75) 0px 0px 16px 1px;
    }
    .singleLayer div {
        background-color: rgb(86, 90, 93);
    }
    .txt {
        fill: white;
    }
    .footer {
        background-color: rgb(64, 67, 69);
        background-image: none;
    }
    .footer a {
        color: rgb(206, 204, 202);
        text-decoration-color: currentcolor;
    }
    .footer a:hover {
        text-decoration-color: currentcolor;
    }
}